.error i:global(.bi:before) {
  color: var(--inspect-danger) !important;
  margin-right: 0.3rem;
}

.refusal i:global(.bi:before) {
  color: var(--inspect-primary) !important;
  margin-right: 0.3rem;
}
