.toolbarButton {
  color: var(--inspect-foreground);
}

.toolbarButton:hover {
  color: var(--inspect-link-hover);
}

.toolbarButton.disabled {
  color: var(--inspect-muted-foreground);
}

.toolbarButton.disabled:hover {
  color: var(--inspect-muted-foreground);
  cursor: default;
}
