.button {
  display: flex;
  border: none;
  flex-direction: row;
  background-color: unset;
  color: var(--inspect-link);
}

.button:hover {
  color: var(--inspect-link-hover);
  cursor: pointer;
}

.label {
  margin-left: 0.4em;
}
