.outputPre {
  padding: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0;
}

.toolView {
  padding-top: 0 !important;
}

.toolView pre {
  margin-bottom: 0;
}

.toolView p > code {
  font-size: var(--inspect-font-size-small) !important;
  color: var(--inspect-foreground) !important;
}

.outputCode {
  font-size: var(--inspect-font-size-small) !important;
  overflow-wrap: anywhere !important;
  white-space: pre-wrap !important;
}
