.asciinemaPlayerStatus {
  margin-right: 0.5em;
}

.asciinemaWrapper {
  display: flex;
  justify-content: center;
}

.asciinemaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  width: 100%;
}

.asciinemaHeaderLeft {
  justify-self: start;
  font-size: var(--inspect-font-size-small);
}

.asciinemaHeaderCenter {
  justify-self: center;
  font-size: var(--inspect-font-size-small);
}

.asciinemaHeaderRight {
  justify-self: start;
  font-size: var(--inspect-font-size-small);
}

.asciinemaBody {
  border-top: 1px solid var(--bs-light-border-subtle);
  grid-column: span 3;
  width: 100%;
}
