.cite {
  color: var(--inspect-primary-emphasis);
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

.cite:hover {
  text-decoration-style: solid;
  background-color: var(--inspect-primary-surface);
}
