.title {
  margin-bottom: 0.25em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 0.3em;
  align-items: baseline;
  color: var(--inspect-muted-foreground) !important;
  font-weight: var(--inspect-font-weight) !important;
}

.content {
  margin-bottom: 0.5em;
  overflow-wrap: anywhere;
}

.grid {
  border: solid var(--inspect-border) 1px;
  border-radius: var(--inspect-radius);
  padding: 0.5em;
}

.content .grid :global(.text-style-label) {
  text-transform: none !important;
}
