.grid {
  display: grid;
  grid-template-columns: fit-content(50%) fit-content(50%);
  column-gap: 3em;
  align-items: flex-start;
}

.tagPillRow {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  align-items: center;
}
