.button {
  border: none;
  padding: 0;
  background-color: inherit;
  position: relative;
}

.viewerOptions {
  color: var(--bs-body-color);
}

.errorAdornment {
  position: absolute;
  right: -0.45em;
  top: -0.35em;
  color: var(--bs-danger);
  font-size: 0.65em;
  line-height: 1;
  background: var(--bs-body-bg);
  border-radius: 50%;
}
