.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5em;
  row-gap: 0.2em;
}

.cell {
  font-weight: 400;
}

.value {
  overflow-wrap: anywhere;
}

.toggleContainer {
  grid-column: 1 / -1;
  display: flex;
  height: 20px;
  margin-top: 0.2em;
  background-color: var(--bs-body-bg);
  border-radius: 5px;
  border: solid var(--bs-light-border-subtle) 1px;
  width: fit-content;
}

.toggleButton {
  font-size: var(--inspect-font-size-smaller);
  border: none;
  padding: 0 0.5rem;
  background-color: transparent;
  color: var(--bs-body-color);
  cursor: pointer;
}
