.circle {
  width: 18px;
  height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.green {
  background-color: var(--inspect-success);
  border-color: var(--inspect-success);
  color: var(--inspect-background);
}

.red {
  background-color: var(--inspect-danger);
  border-color: var(--inspect-danger);
  color: var(--inspect-background);
}

.orange {
  background-color: var(--inspect-orange);
  border-color: var(--inspect-orange);
  color: var(--inspect-background);
}
